.profile {
    border: 1px solid lightgray;
    width: 200px;
}

.image-container {
    margin-bottom: 10px;
    margin-left: 50px;
    width:60px;
    height: 60px;
    border-radius: 50%; 
    overflow: hidden;
    border: 1px solid lightgray;
}

.avatar {
    width:auto;
}

.description {
    padding: 20px;
    text-align: center;
    background-color: whitesmoke;
}

.name,
.location,
.tag {
    margin-bottom: 10px;
}
.location,
.tag {
    color: gray;
}

.stats {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap:10px;
    background-color: lightgray;
    border-top: 1px solid grey;
}


.stats-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

